.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-radius: 8px;
  color: #fff;
}
.storybook-button--primary {
  color: white;
  background: linear-gradient(142.65deg, #e63c45 -55%, #fdbb35 103.21%);
}
.storybook-button--secondary {
  background-color: transparent;
  border: 2px solid #fdbb35;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
